/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.menu {
    padding-left: 0;
}
.menu ul li a{
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif; 
	font-size: 20px;
	font-weight: 400;
	color: #9fb277 !important;
	transition: 0.3s;
}
.menu ul li:nth-child(1) a{
	padding-right: 10px ;

}
.menu ul li:nth-child(2) a{
	padding-right: 10px;

}
.menu ul li:nth-child(3) a{
	padding-right: 10px ;

}
.menu ul li:nth-child(4) a{
	padding-right: 0 ;

}
.t_button{
	padding-bottom: 150px;
}
.fd_content{
	text-align: center;
	margin-right: 0 !important;
}
.taste {
	padding: 10px 20px 10px 20px;
}
.single_item {
	padding: 15px 20px;
	text-align: center;
}
.list_title {
	padding: 0;

}
.list_title h3 {
	font-family: myFirstFont;
	font-size: 30px;
	font-weight: 700;
	color: #afc67b;
	text-align: center;
}
.list_title  h1 {
	font-family:  'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #bebfbb;
	line-height: 1;
	text-align: center;
}

.sl_img {
	padding-top: 10px;
	text-align: center;
}
.s_content {
	padding: 50px 0 50px 0;
}
.s_content p {
	padding: 10px 0 30px 0;
	
}
.b_content h1 {
	font-size: 60px;
}

.f_content p {
	font-size: 16px;
}
.f_content h6 {
	font-size: 25px;
}

.f_icon ul li a i{
	
	padding: 0 2px 0 2px ;
	font-size: 30px;
	text-align: center;
	color: white;
}
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.menu {
    padding-left: 0;
}
.menu ul li a {
	padding-top: 30px;
	font-size: 30px;
}
.menu ul li:nth-child(1) a {
	padding-right: 10px;

}
.menu ul li:nth-child(4) a {
	padding-left: 0 ;

}
.t_img {
	padding: 70px 0 70px 0;
}
.t_text h2 {
	font-size: 40px !important;
}
.t_button {
padding-bottom: 150px;
 }
.fd_content {
	padding: 40px 0 10px 0;
	margin-right: 0; 
	text-align: center;
}
.taste {
	padding: 10px 20px 10px 20px;
}
.single_item {
	padding: 15px 20px;
	text-align: center;
}
.single_item h5 {
	padding: 32px 0 20px 0;
}
.list_title {
	padding: 10px 0 10px 0;

}
.list_title h3 {
	font-size: 35px;
}
.list_title  h1 {
	font-size: 20px;
}
.sl_img {
	padding-top: 10px;
	text-align: center;
}
.s_content {
	padding: 50px 0 50px 0;
}
.s_content p {
	padding: 10px 0 30px 0;
	
}
.b_content h1 {
	font-size: 70px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.menu {
    padding-left: 200px;
}
.menu ul li a {
	padding-top: 30px;
	font-size: 20px;
}
.menu ul li:nth-child(1) a {
	padding-right: 10px;

}
.menu ul li:nth-child(4) a {
	padding-left: 0 ;

}
.t_img {
	padding: 70px 0 70px 0;
}
.t_text h2 {
	font-size: 35px !important;
	text-align: justify;
	padding-left: 150px;
}
.t_button {
	padding-bottom: 150px;
	margin-left: 45px;
 } 
.fd_content {
	padding: 20px 0 0 0;
	margin-right: 0; 
}
.fd_content h5 {
	padding-bottom: 20px;
	font-size: 25px;
}
.fd_content p {
	font-size: 16px;
}
.taste {
	padding: 15px 0px 15px 0px;
}
.single_item {
	padding: 15px 5px;
	text-align: justify;
}
.single_item h5 {
	padding: 32px 0 20px 0;
}
.list_title {
	padding: 15px 0 15px 0;

}
.list_title h3 {
	font-size: 35px;
}
.list_title  h1 {
	font-size: 20px;
}
.sl_text {
	padding-top: 5px;
	
}}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
.t_text h2 {
	font-size: 40px !important;
}

.taste {
	padding: 20px 15px 20px 18px;
	margin-left: 0; 
} 
.list_title {
	padding: 25px 0 25px 0;

}
.list_title h3 {
	font-size: 35px;
}
.list_title  h1 {
	font-size: 20px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }